<h1>Listing jobs</h1>

<%= form_tag jobs_path, :method => 'get' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query, params[:query] %>
  <%= submit_tag :search %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Job title</th>
      <th>Salary</th>
      <th>Company</th>
      <th>Client Name</th>
      <th>Skill</th>
      <th>Description</th>
      <th>Published Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
    <tr>
      <td><%= job.job_title %></td>
      <td><%= job.salary %></td>
      <td><%= job.company %></td>
      <td><%= job.client_name %></td>
      <td><%= job.skill %></td>
      <td><%= job.description %></td>
      <td><%= job.published_date %></td>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= will_paginate @jobs %>

<%= link_to 'New Job', new_job_path %>
