<h1>Listing users</h1>

<%= form_tag users_path, :method => 'get' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query, params[:query] %>
  <%= label_tag :age_filter %>
  <%= text_field_tag :age_filter, params[:age_filter] %>
  <%= submit_tag :search %>
<% end %>

<% if @users.try(:facets) %>
  <h3>Ages</h3>
  <ul>
    <% @users.facets['ages']['terms'].each do |facet| %>
      <li>
        <%= link_to_unless_current facet['term'], params.merge(age: facet['term']) %>
        <% if params[:age] == facet['term'].to_s %>
          (<%= link_to "remove", params.merge(age: nil) %>)
        <% else %>
          (<%= facet['count'] %>)
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone number</th>
      <th>Address</th>
      <th>Age</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.try(:highlight).nil? ? user.first_name : user.highlight.first_name[0].html_safe %></td>
      <td><%= user.last_name %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.address %></td>
      <td><%= user.age %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= will_paginate @users %>

<%= link_to 'New User', new_user_path %>
