<!DOCTYPE html>
<html>
<head>
  <title>ElasticSearchSample</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <p>
    <%= link_to 'User', users_path %> | <%= link_to 'Job', jobs_path %>
  </p>
<%= yield %>

</body>
</html>
